@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: rgba(0, 0, 0, 0.952);
}
#logo
{
    position: relative;
    left: -8%;
}
.intro{
    background: #000;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* display: none; */
}
.intro-text{
    color: rgb(197, 197, 197);
    font-family: sans-serif;
    font-size: 3rem;

}
.slider{
    /* background: #1b375a; */
    background: rgb(12, 12, 12);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: 10;
    /* display: none; */
}
.hide{
    background: #000;
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}
@media screen and (max-width: 500px){
    #logo
    {
        margin: 3%;
        font-size: x-large;
    }
}
#first
{
    margin-top: 2%;
    color: rgb(197, 197, 197);
    display: flex;
    position: relative;
    justify-content: space-around;
}
#nav{
    display: flex;
    position: relative;
    justify-content: space-around;
    width: fit-content;
    list-style: none;
    font-weight: 100;
}
#list
{
    font-size: 13px;
    padding: 8px 18px;
    background:linear-gradient(-45deg, transparent, rgba(0, 0, 0, 0.795), transparent, transparent);
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
}
#li
{
    margin: 2%;
}
#humberger
{
    margin: 3%;
    height: 35px;
    width: 40px;
    padding: 12px;
    background: rgba(255, 0, 0, 0.438);
    position: relative;
    right: -7%;
    border: none;
    /* outline: none; */
    cursor: pointer;
}
#bar{
    height: 1px;
    width: 50px;
    padding: 2px;
    background: lightgrey;
    transform: rotate(90deg);
}
#bar::before
{
    content: "";
    position: absolute;
    padding: 5px;
    height: 10px;
    background: rgb(0, 0, 0);
}
@media screen and (max-width: 500px){
    #navigation
    {
        display: none;
    }
}
#buket{
    display: flex;
    flex-direction: column;
    /* box-shadow: 0px 1px 2px lightgrey; */
    border: 1.2px solid lightgrey;
    background: black;
    border-radius: 3.5px;
    padding: 5px 10px;
    width: 250px;
    height: 250px;
    position: relative;
    margin-top: 5%;
    margin-left: 2.5%;
    z-index: 5;
}
#buket::after{
    content: "";
    padding: 50px;
    width: 100px;
    height: 100px;
    border: 1.5px solid rgba(255, 0, 0, 0.438);
    position: relative;
    margin-top: 1.5%;
    right: -50%;
    transform: rotate(-80deg);
}
.typewrite{
    color: white;
    text-decoration: none;
}
#expression{
    font-size: 20px;
    text-align: left;
    color: rgb(197, 197, 197);
    position: relative;
    margin-top: 8%;
    left: 30%;
    width: 250px;
    /* background: rgba(0, 0, 0, 0.952); */
    color: white;
    white-space: nowrap;
    overflow: hidden;
}
/* #expression
{
    animation: animated-text 4s steps(29,end) 2s 1 normal both;
}
@keyframes animated-text {
    from{
        width: 0px;
    }
    to{
        width: 330px;
    }
} */
.about{
    margin-top: 15%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    /* background: rgba(255, 0, 0, 0.438); */
    border-radius: 5px;
    padding: 15px;
    color: rgb(197, 197, 197);
    z-index: -10;
    overflow: hidden;
}
/* #about::after
{
    content: "";
    position: absolute;
    padding: 5%;
    width: 600px;
    height: 180px;
    z-index: -1;
    right: 6%;
    top: 87.2%;
    background: rgba(0, 0, 0, 0.534);
} */
#habout{
    text-align: left;
    text-decoration: underline;
    margin-bottom: 12px;
}
#abody{
    width: 300px;
    /* background: rgba(0, 0, 0, 0.795); */
    padding: 50px;
    line-height: 150%;
    border-radius: 5px;
    font-size: 14px;
}
#abody::after
{
    content: "";
    position: relative;
    padding: 15%;
    width: 100px;
    height: 50px;
    z-index: -1;
    right: -60%;
    /* top: 87.2%; */
    background: rgba(0, 0, 0, 0.534);
}
.projects{
    margin-top: 15%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    overflow: hidden;
}
#hproject
{
    color: rgb(197, 197, 197);
    text-align: left;
    text-decoration: underline;
    margin-bottom: 12px;
}