@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(0, 0, 0, 0.952);
}
#logo
{
    position: relative;
    left: -8%;
}
#first
{
    margin-top: 2%;
    color: rgb(197, 197, 197);
    display: flex;
    position: relative;
    justify-content: space-around;
}
#navigation{
    background:linear-gradient(-45deg, rgba(0, 0, 0, 0.952), rgba(255, 0, 0, 0.438));
    padding: 12px;
    transform: skew(-25deg);
}
#nav{
    transform: skew(25deg);
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 370px;
    list-style: none;
    font-weight: 100;
}
#list
{
    font-size: 13px;
}
#buket{
    display: flex;
    flex-direction: column;
    /* box-shadow: 0px 1px 2px lightgrey; */
    border: 1.2px solid lightgrey;
    background: black;
    border-radius: 3.5px;
    padding: 5px 10px;
    width: 250px;
    height: 250px;
    position: relative;
    margin-top: 5%;
    margin-left: 2.5%;
    z-index: 5;
}
#buket::after{
    content: "";
    padding: 50px;
    width: 100px;
    height: 100px;
    border: 1.5px solid rgba(255, 0, 0, 0.438);
    position: relative;
    margin-top: 1.5%;
    right: -50%;
    transform: rotate(-80deg);
}
.typewrite{
    color: white;
    text-decoration: none;
}
#expression{
    font-size: 20px;
    text-align: left;
    color: rgb(197, 197, 197);
    position: relative;
    left: 60%;
    width: 250px;
    /* background: rgba(0, 0, 0, 0.952); */
    color: white;
    white-space: nowrap;
    overflow: hidden;
}
#expression
{
    animation: animated-text 4s steps(29,end) 2s 1 normal both;
}
@keyframes animated-text {
    from{
        width: 0px;
    }
    to{
        width: 330px;
    }
}
#about{
    margin-top: 15%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    border-top: rgba(255, 0, 0, 0.438) solid 1px;
    border-bottom: rgba(255, 0, 0, 0.438) solid 1px;
    border-radius: 5px;
    padding: 50px;
    color: rgb(197, 197, 197);
}
#habout{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 12px;
}
#abody{
    width: 300px;
}